@charset "u tf8";
/*CSS Document*/
/*tamaño de pantalla utilizado para trabajar: 1920 x 1080 px*/
html{
    scroll-behavior: smooth;
}

* {
    font-family: "macho", sans-serif;
    list-style:disc;
    padding: 0;
    margin: 0;
}

body{
    cursor: url(img/cursorpersonalizado.png),auto;
}

a{
    cursor: url(img/cursorpersonalizado.png),auto;
}

header {
    height: 150px; /* es importante que el tamaño de las cosas esté dado por su contenido y por los paddings establecidos, y a nivel ajuste de diseño está visualmente muy grande */
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background: #621244;
    flex-wrap: wrap;
    color: #fcf5f9;
}

.nav-botonera {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-around; /* no está haciendo nada porque el espacio intermedio estpa dado por el gap*/
}

.nav-botonera a {
    font-family: "macho", sans-serif; /* repetido */
    font-weight: 700;
    font-style: normal; /* no hace nada */
    text-decoration: none;
    color: #fcf5f9;
    padding: 10px 20px;
    display: block; /* mmmm  muy dudoso esto */
    border-radius: 15px;
    background-color: #951c67;
    font-size: 20px
}
.nav-botonera a:hover {
    color: #951c67;
    background-color: #f376a8;
    border-radius: 15px;
}

.bienvenida{
    display: flex;
    width: 100%;
    align-items: center;
}
.bienvenida img{
    width: 100%; 
}

h1{
    font-weight: 700; /* no hace nada */
    font-style: italic;
    font-size: 50px;
    margin-bottom: 5%;
}
img.fotoperfil {
    border: 10px solid #621244; /* Cambia el color y el grosor del borde */
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(63, 0, 52, 0.616);
    transition: transform 0.3s ease;
}

img.fotoperfil:hover {
    transform: scale(1.1);
}

#sobre-mí {
    color: #fcf5f9;
    width: 1920px; /* no se usan anchos fijos!!! esto te está generando scroll horizontal */
    height: 100vh;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 5%; /* esto te está sumando tamaño al alto que no corresponden, además no van en porcentajes */
    background: linear-gradient(180deg, #81185A 0%, #4D0A34 100%);
}


#sobre-mí p{
    font-size: 18px;
    max-width: 600px;
}

.ilustracion-personal{
    position: relative;
    right: 31px;
    top: 20px;
}

#educacion-personalidad {
    display: flex;
    background-color: #FFF2FC;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5%;
    font-size: 20px;
    gap: 50px;
}

#educacion-personalidad .columna1 {
    width: 35%; /* guarda que en pantallas más chicas este porcentaje te va a jugar en contra, mejor max-width*/
    color: #4D0A34;
}

#educacion-personalidad .columna2 { /* si esto es igual a la columna 1 es mejor establecer los dos en un mismo lugar o ponerles la misma class */ 
    width: 35%; 
    color: #4D0A34;
}

#educacion-personalidad h4 {
    color: #621244; /* repetido */
    font-size: 24px;
    margin-bottom: 15px;
}

#educacion-personalidad ul {
    padding-left: 0; /* repetido */
}

#educacion-personalidad ul li {
    margin-bottom: 10px;
}

#educacion-personalidad p {
    margin-top: 15px; /* no hace nada */
}

.adobepack {
    display: flex;
    justify-content: flex-start;
    margin-top:10px;
    gap: 10px;
}

.adobepack img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}


h3{
    font-size: 50px;
}

h4{
    margin-top: 20px;
}

#proyectos {
    text-align: center;
    color: #FDF2FA;
    height: 100vh;
    background: linear-gradient(180deg, #81185A 0%, #4D0A34 100%);
    padding: 20px;
}

.proyecto-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* o usamos space arround o gap pero no los dos*/
}

.proyecto {
    position: relative; /* MMMM muy dudoso */
    width: 500px; /* no hace nada */
    transition: transform 0.3s ease;
    border-radius: 15px;
    overflow: hidden; /* por ahora no está haciendo nada pero no sé si lo pensás para otra cosa */
}

.proyecto img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.proyecto p {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
}

.proyecto:hover img {
    transform: scale(1.1);
    opacity: 0.8;
    border-radius: 20px;
}

.proyecto:hover {
    transform: scale(1.1);
}

#contacto{
    color: #4D0A34;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 4%;
    background: #FFF2FC;
}


#contacto h3 {
    text-align:start;
    margin-bottom: 10px;
}

#contacto p{
    font-size: 18px;
    max-width: 600px;
}

footer {
    display: flex;
    justify-content: space-between; /* no hace nada */
    align-items: center;
    padding: 20px;
    background-color: #621244;
    color: #fcf5f9;
    text-align: center;
}

footer p{
    margin: 5px 0; /* no hace nada */
    flex-basis: 100%; /*cada párrafo ocupe una línea completa */
}

.social-icons {
    display: flex;
    justify-content: center; /* no hace nada */
    gap: 20px;
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}
