@charset "u tf8";
/*CSS Document*/
/*tamaño de pantalla utilizado para trabajar: 1920 x 1080 px*/
html{
    scroll-behavior: smooth;
}

* {
    font-family: "macho", sans-serif;
    list-style:disc;
    padding: 0;
    margin: 0;
}

body{
    cursor: url(img/cursorpersonalizado.png),auto;
}

a{
    cursor: url(img/cursorpersonalizado.png),auto;
}

header {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background: #621244;
    flex-wrap: wrap;
    color: #fcf5f9;
}

.nav-botonera {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-botonera a {
    font-weight: 700;
    text-decoration: none;
    color: #fcf5f9;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #951c67;
    font-size: 20px
}
.nav-botonera a:hover {
    color: #951c67;
    background-color: #f376a8;
    border-radius: 15px;
}

.bienvenida{
    display: flex;
    width: 100%;
    align-items: center;
}
.bienvenida img{
    width: 100%; 
}

h1{
    font-style: italic;
    font-size: 50px;
    margin-bottom: 5%;
}

img.fotoperfil {
    border: 10px solid #621244; /* Cambia el color y el grosor del borde */
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(63, 0, 52, 0.616);
    transition: transform 0.3s ease;
}

img.fotoperfil:hover {
    transform: scale(1.1);
}

#sobre-mí {
    color: #fcf5f9;
    height: 100vh;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #81185A 0%, #4D0A34 100%);
}


#sobre-mí p{
    font-size: 18px;
    max-width: 600px;
}

.ilustracion-personal{
    position: relative;
    right: 31px;
    top: 20px;
}

#educacion-personalidad{
    gap: 90px;
    display: flex;
    background-color:#FFF2FC;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    font-size: 20px;
    background-image: url('img/milozilustracion.png'); 
    background-repeat: no-repeat; 
    background-position: 37% bottom;
}

#educacion-personalidad .columna{
    color: #4D0A34;
}

#educacion-personalidad h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

#educacion-personalidad ul li {
    margin-bottom: 10px;
}

.adobepack {
    display: flex;
    justify-content: flex-start;
    margin-top:15px;
    gap: 10px;
}

.adobepack img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}


h3{
    font-size: 50px;
}

h4{
    margin-top: 20px;
}

#proyectos {
    text-align: center;
    color: #FDF2FA;
    height: 100vh;
    background: linear-gradient(180deg, #81185A 0%, #4D0A34 100%);
    padding: 20px;
}

.proyecto-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.proyecto {
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.proyecto img {
    margin-top: 40px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.proyecto p {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
}

.proyecto:hover img {
    transform: scale(1.1);
    border-radius: 20px;
}

.proyecto:hover {
    transform: scale(1.1);
}

#contacto{
    color: #4D0A34;
    display: flex;
    gap: 70px;
    justify-content: center;
    padding: 4%;
    background: #FFF2FC;
}


#contacto h3 {
    text-align:start;
    margin-bottom: 10px;
}

#contacto p{
    font-size: 24px;
    max-width: 600px;
}

.texto-destacado {
    font-size: 45px;
    font-weight: bold;
    color: #621244; 
    line-height: 155.847%
}

p.texto-destacado{
    margin-top: 30px;
}

address{
    margin-top: 30px;
}
address p {
    font-style: italic;
    line-height: 1.6;
}

#contacto .contacto-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contacto address {
    display: flex;
    flex-direction: column;
}

.contacto-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacto-item img.icono {
    width: 24px;
    height: 24px;
}

footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #621244;
    color: #fcf5f9;
    text-align: justify;
    gap: 50px;
}

footer p{
    flex-basis: 100%; /*cada párrafo ocupe una línea completa */
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}